<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Rozgrywki KPU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Wyniki <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user']">Panel użytkownika</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']">Panel admina</a>
      </li>
    </ul>
    <span class="navbar-text">
      Witaj 
      <button [routerLink]="['/log']" class="btn btn-success">Zaloguj</button>
    </span>
  </div>
</nav>