<button [routerLink]="['/selectField', id]" class="btn btn-success" >Dodaj wynik</button>

<table  class="table">
  <thead>
    <tr>
    
      <th scope="col">Miejsce</th>
      <th scope="col">Punkty</th>
      <th scope="col">Kierunek</th>
      <th scope="col">Rok</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of competitionResults">


      <td>{{result.place}}</td>
      <td>{{result.points}}</td>
      <td>{{result.fieldName}}</td>
      <td>{{result.studiesStart}}</td>

      <td>
        
        <button (click)="deleteCompetitionResult(result.id)"   class="btn btn-danger">Usuń wynik</button>

        

      </td>
    </tr>


  </tbody>
</table>